<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>111</div>
        <input v-model="aaa">
        <!-- <button @click="show = !show">按钮</button> -->
        <!-- <keep-alive> -->
         
        <!-- </keep-alive> -->
        <!-- 当一个v-if条件渲染的组件
     套上了keep-alive时，这个组件永远不会被销毁，只是暂时的脱离dom  
     但它还在内存中 
     相当于v-show，但是为false时不会在dom中，而是在内存中
    -->

    </div>
    <script>
        Vue.component('Test',{
            props:{
              value:Boolean
            },            
            template:`
            <div>
                <div>我是组件第一个盒子</div>
                <div ref="secondDiv">我是组件第二个盒子</div>
                </div>
            `,
            beforeCreate() {
              //组件在创建前执行的钩子（回调）
              console.log('test组件在创建前执行的钩子（回调）');
             

            },
            created() {
            //组件创建好了
            //是否有el,template选项
            console.log('test组件创建好了');
            },
            beforeMount() {
            //准备把组件 挂载 dom中
            console.log('test准备把组件 挂载 dom中');
            console.log(this.$el);
            },
            mounted() {
            //已经把组件 挂载 dom中了
            //给标签添加ref,相当于添加id名
            //如果想要对组件已经生成的dom执行原生js操作的话，可以在这里执行
            console.log('test已经把组件 挂载 dom中了');
            console.log(this.$el);
            console.log(this);
           
            this.$refs.secondDiv.style.background = 'green';
            },
            beforeUpdate() {
             //当组件里有数据更新时（必须和模版有关联的数据）在更新模版之前
             console.log('test当组件里有数据更新时（必须和模版有关联的数据）在更新模版之前');
            },
            updated() {
             //在更新模版之后
             console.log('test在更新模版之后');
            },
            beforeDestroy(){
            //在销毁组件之前
            //实例不能执行销毁的钩子
            console.log('test在销毁组件之前,实例不能执行销毁的钩子');
            },
            destroyed(){
            //在销毁组件之后
            console.log('test在销毁组件之后');
            }


        })
localStorage.setItem('user','aaa');
var bbb = 3333;
        new Vue({
            el: '#app',
            data: {
                aaa: 11,
                show: true
            },
            template:`
            <div>123
                <button ref="btn">按钮</button>
                    <Test v-if="show" ref="ttest" />
            </div>
            `,

            beforeCreate() {
                //组件在创建前执行的钩子（回调）
                //在beforeCreate里访问不到实例里数据
                //在这里我们可以去执行ajax请求了
                console.log('模版在创建前执行的钩子（回调）');
                
                console.log(this.aaa);
                setTimeout(() => {

                   // this.aaa = 200;
                    // console.log(this.aaa);
                }, 1)
               //如果是异步数据，可以在beforeCreate里完成
            },
            created() {
                //组件创建好了
                //如果是要初始化同步取来的数据，只能在created里完成
                console.log('模版创建好了');
               
                console.log(this.aaa);
                const user = localStorage.getItem('user');
                this.aaa = user;
            },
            beforeMount() {
                //准备把组件 挂载 dom中
                console.log('准备把模版 挂载 dom中');
                console.log(this.aaa);
                console.log(this.$el);
            },
            mounted() {
                //已经把组件 挂载 dom中了
                //在这里可以获取当前组件的模版dom元素
                console.log('已经把模版 挂载 dom中了');
                console.log(this);
                console.log(this.aaa);
            },
            beforeUpdate() {
                //当组件里有数据更新时（必须和模版有关联的数据）在更新模版之前
                console.log('当模版里有数据更新时（必须和模版有关联的数据）在更新模版之前');
                console.log('beforeUpdate:' + this.aaa);
            },
            updated() {
                //在更新模版之后
                console.log('在更新模版之后');
            },
            beforeDestroy() {
                //在销毁组件之前
                //实例不能执行销毁的钩子
                console.log('在销毁组件之前,实例不能执行销毁的钩子');
            },
            destroyed() {
                //在销毁组件之后
                console.log('在销毁组件之后');
            }


        })
    </script>
</body>

</html>