<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
     
    </div>
    <script>
        Vue.component('Test',{
            props:{
              test:null
            },
            template:`
            <div class="test">
                son:<input v-model="iTest" >
            </div>
            `,
            data(){
                return {
                    iTest:this.test
                }
            },
            watch:{
                test(val){
                    this.iTest = val;
                },
                iTest(val){
                    //父子数据同级
                   this.$emit('update:test',val);
                }
            }
        })

        new Vue({
            el: '#app',
            data: {
                faTest:100
            },
            template:`
               <div>
                 <Test :test.sync="faTest"/></br>
                 父：<input type="text" v-model="faTest" />
               </div>
            `
        })
    </script>
</body>

</html>