<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        html,
        body {
            background: #dedede;
        }

        * {
            margin: 0;
            padding: 0;
        }

        div.transfer {
            width: 500px;
            height: 310px;
            margin-left: 100px;
            display: flex;
            justify-content: flex-start;

        }

        ul {
            width: 100px;
            height: 310px;
            list-style: none;


            background: #a1a0a0;
        }

        ul>li {
            width: auto;
            height: 30px;
            color: white;
            font-weight: bolder;
            border-bottom: 1px solid #ccc;
            background: rgb(133, 131, 131);

        }

        div.transfer button {
            width: 70px;
            height: 40px;
            font-size: 20px;
            margin-top: 150px;
            font-weight: bolder;
            border: 1px solid grey;
            background: rgb(214, 209, 209);
        }
    </style>

</head>

<body>
    <div id="app">

        <Transfer :data1="users" :data2="users1" @click="rightMove()" @click1="leftMove()">

        </Transfer>

    </div>

    <script>
        Vue.component('Transfer', {
            props: {
                data1: {
                    type: Array,
                },
                data2: {
                    type: Array,
                },



            },
            data() {

                return {
                    //父组件传过来的参数是单项数据流  父级传过来的参数不要直接用
                    arr1: this.data1,
                    arr2: this.data2,
                    // button disabled属性可操作按钮是否可以禁用
                    btn1: true,
                    btn2: true
                }
            },
            computed:{
              btn1State(){
                if (this.arr1.find((item) => item.checked)) {
                            //取消对按钮的禁用
                            return false;
                        }else{
                            return true;
                        }
              },
              btn2State(){
                if (this.arr2.find((item) => item.checked)) {
                            //取消对按钮的禁用
                            return false;
                        }else{
                            return true;
                        }
              }
            },
           // wantch监听不到新增成员的变化，所以使用computed
            // watch: {
            //     arr1: {
            //         handler(val) {
            //             if (this.arr1.find((item) => item.checked)) {
            //                 //取消对按钮的禁用
            //                 this.btn1 = false;
            //             }else{
            //                 this.btn1 = true;
            //             }
            //         },
            //         deep: true
            //     },
            //     arr2: {
            //         handler(val) {
            //             if (this.arr2.find((item) => item.checked)) {
            //                 //取消对按钮的禁用
            //                 this.btn2 = false;
            //             }else{
            //                 this.btn2 = true;
            //             }
            //         },
            //         deep: true
            //     }
            // },
            methods: {
                rightMove() {

                    //选中的  深度拷贝 与原数组脱离关系
                    const matchs = JSON.parse(JSON.stringify(this.arr1.filter((item) => item.checked)))
                    //const matchs = this.arr1.filter((item) => item.checked)
                    //剩下的
                    const filters = this.arr1.filter((item) => !item.checked)

                    this.arr1 = filters

                    //生成一个新的数组  每一个成员的checked改成false
                    this.arr2.push(...matchs.map((item) => {
                        item.checked = false
                        return item
                    }))

                },
                leftMove() {
                    //选中的  深度拷贝 与原数组脱离关系
                    const matchs = JSON.parse(JSON.stringify(this.arr2.filter((item) => item.checked)))
                    // const matchs = this.arr1.filter((item) => item.checked)
                    //剩下的
                    const filters = this.arr2.filter((item) => !item.checked)
                    this.arr2 = filters
                    //生成一个新的数组  每一个成员的checked改成false
                    this.arr1.push(...matchs.map((item) => {
                        item.checked = false
                        return item
                    }))
                }
            },


            template: `
          <div class="transfer">
            <ul>
              <li v-for="(item,index) in arr1">
             
                    <input type="checkbox" v-model="item.checked">{{item.name}}
                   
                  
                </li>  
             
            </ul>
            
            <button @click="leftMove()" :disabled="btn2State">左移</button>
            <button @click="rightMove()" :disabled="btn1State">右移</button>
            <ul>
              <li v-for="(item,index) in arr2">
             
                    <input type="checkbox" v-model="item.checked">{{item.name}}
                   
                  
                </li>  
             
            </ul>
          
          </div>
                
          `

        })

        new Vue({
            el: '#app',
            data: {
                users: [
                    {
                        name: '选项1',
                        checked: false
                    },
                    {
                        name: '选项2',
                        checked: false
                    },
                    {
                        name: '选项3',
                        checked: false
                    },
                    {
                        name: '选项4',
                        checked: false
                    },
                    {
                        name: '选项5',
                        checked: false
                    },
                    {
                        name: '选项6',
                        checked: false
                    },
                    {
                        name: '选项7',
                        checked: false
                    },
                    {
                        name: '选项8',
                        checked: false
                    },
                    {
                        name: '选项9',
                        checked: false
                    },
                    {
                        name: '选项10',
                        checked: false
                    },
                ],
                users1: []
            },
            methods: {

                // for (var i = 0; i < items.length; i++) {                    
                //     if (items[i].checked === true) {
                //         this.users1.push(items[i]);
                //         console.log(this.users1);
                //         items[i].checked = false;
                //         this.users.splice(i, 1);                                                                                    
                //     }
                // }                


            },


        })
    </script>
</body>

</html>